TRANSPORTATION MANAGEMENT DASHBOARD/ADF ARM TEMPLATE/ARMTemplateForFactory.json
 {
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name",
            "defaultValue": "ManiDemoDF"
        },
        "linkedService_StorageDemoMani_connectionString": {
            "type": "secureString",
            "metadata": "Secure string for 'connectionString' of 'linkedService_StorageDemoMani'"
        },
        "SqlServerOnPrem_connectionString": {
            "type": "secureString",
            "metadata": "Secure string for 'connectionString' of 'SqlServerOnPrem'",
            "defaultValue": "Integrated Security=True;Data Source=LENOVOFLEX5\\SQLEXPRESS;Initial Catalog=TransportationDatabase"
        },
        "SqlServerOnPrem_password": {
            "type": "secureString",
            "metadata": "Secure string for 'password' of 'SqlServerOnPrem'"
        },
        "AzureBlobStorage_connectionString": {
            "type": "secureString",
            "metadata": "Secure string for 'connectionString' of 'AzureBlobStorage'"
        },
        "linkedService_sp_connectionString": {
            "type": "secureString",
            "metadata": "Secure string for 'connectionString' of 'linkedService_sp'",
            "defaultValue": "Integrated Security=True;Data Source=LENOVOFLEX5\\SQLEXPRESS;Initial Catalog=SoftwizSQLDatabase"
        },
        "linkedService_sp_password": {
            "type": "secureString",
            "metadata": "Secure string for 'password' of 'linkedService_sp'"
        },
        "EventTrigger_properties_pipeline1_parameters_SourcePath": {
            "type": "string",
            "defaultValue": "@triggerBody().filePath"
        },
        "EventTrigger_properties_pipeline1_parameters_SourceFile": {
            "type": "string",
            "defaultValue": "@triggerBody().fileName"
        },
        "EventTrigger_properties_typeProperties_scope": {
            "type": "string",
            "defaultValue": "/subscriptions/d812ee81-200b-4139-ad80-b4fdf2f20841/resourceGroups/ResourceGroup_Demo/providers/Microsoft.Storage/storageAccounts/storagedemomani"
        },
        "SqlServerOnPrem_properties_typeProperties_userName": {
            "type": "string",
            "defaultValue": "LENOVOFLEX5\\KIIT"
        },
        "linkedService_sp_properties_typeProperties_userName": {
            "type": "string",
            "defaultValue": "LENOVOFLEX5\\KIIT"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/IR-selfhost')]",
            "type": "Microsoft.DataFactory/factories/integrationRuntimes",
            "apiVersion": "2018-06-01",
            "properties": {
                "type": "SelfHosted",
                "typeProperties": {}
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/inputDataDataSet')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "linkedService_StorageDemoMani",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Binary",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "fileName": "Data.txt",
                        "folderPath": "input",
                        "container": "adfdemo"
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/linkedService_StorageDemoMani')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/outputDataDataSet')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "linkedService_StorageDemoMani",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "Binary",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "fileName": "abcd.txt",
                        "folderPath": "output",
                        "container": "adfdemo"
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/linkedService_StorageDemoMani')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/SqlServerTable1')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "SqlServerOnPrem",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "TableName": {
                        "type": "string"
                    },
                    "Schema": {
                        "type": "string"
                    },
                    "db": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "SqlServerTable",
                "schema": [],
                "typeProperties": {
                    "schema": {
                        "value": "@dataset().Schema",
                        "type": "Expression"
                    },
                    "table": {
                        "value": "@dataset().TableName",
                        "type": "Expression"
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/SqlServerOnPrem')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/emp')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureBlobStorage",
                    "type": "LinkedServiceReference"
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "fileName": "dbo.emp.txt",
                        "container": "data"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "AzureBlobStorage",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "FileName": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "type": "DelimitedText",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobStorageLocation",
                        "fileName": {
                            "value": "@dataset().FileName",
                            "type": "Expression"
                        },
                        "folderPath": "logistic",
                        "container": "data"
                    },
                    "columnDelimiter": ",",
                    "escapeChar": "\\",
                    "firstRowAsHeader": true,
                    "quoteChar": "\""
                },
                "schema": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DemoScheduleTrigger')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "Daily Trigger",
                "annotations": [],
                "runtimeState": "Started",
                "pipelines": [
                    {
                        "pipelineReference": {
                            "referenceName": "pipeline1",
                            "type": "PipelineReference"
                        },
                        "parameters": {}
                    }
                ],
                "type": "ScheduleTrigger",
                "typeProperties": {
                    "recurrence": {
                        "frequency": "Day",
                        "interval": 1,
                        "startTime": "2023-06-15T05:52:00Z",
                        "endTime": "2023-06-29T05:52:00Z",
                        "timeZone": "UTC",
                        "schedule": {}
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/pipeline1')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/HourlyLogsTrigger')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "runtimeState": "Started",
                "pipeline": {
                    "pipelineReference": {
                        "referenceName": "HourlyLogsPipeline",
                        "type": "PipelineReference"
                    },
                    "parameters": {}
                },
                "type": "TumblingWindowTrigger",
                "typeProperties": {
                    "frequency": "Hour",
                    "interval": 1,
                    "startTime": "2023-06-16T09:00:00Z",
                    "endTime": "2023-06-30T09:00:00Z",
                    "delay": "00:00:00",
                    "maxConcurrency": 50,
                    "retryPolicy": {
                        "intervalInSeconds": 30
                    },
                    "dependsOn": []
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/HourlyLogsPipeline')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/EventTrigger')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "runtimeState": "Stopped",
                "pipelines": [
                    {
                        "pipelineReference": {
                            "referenceName": "pipeline1",
                            "type": "PipelineReference"
                        },
                        "parameters": {
                            "SourcePath": "[parameters('EventTrigger_properties_pipeline1_parameters_SourcePath')]",
                            "SourceFile": "[parameters('EventTrigger_properties_pipeline1_parameters_SourceFile')]"
                        }
                    }
                ],
                "type": "BlobEventsTrigger",
                "typeProperties": {
                    "blobPathBeginsWith": "/adfdemo/blobs/input/",
                    "blobPathEndsWith": ".txt",
                    "ignoreEmptyBlobs": true,
                    "scope": "[parameters('EventTrigger_properties_typeProperties_scope')]",
                    "events": [
                        "Microsoft.Storage.BlobCreated",
                        "Microsoft.Storage.BlobDeleted"
                    ]
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/pipeline1')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/HourlyDataProcessTrigger')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "runtimeState": "Started",
                "pipeline": {
                    "pipelineReference": {
                        "referenceName": "HourlyDataProcessPipeline",
                        "type": "PipelineReference"
                    },
                    "parameters": {}
                },
                "type": "TumblingWindowTrigger",
                "typeProperties": {
                    "frequency": "Hour",
                    "interval": 1,
                    "startTime": "2023-06-16T09:00:00Z",
                    "endTime": "2023-06-30T09:00:00Z",
                    "delay": "00:00:00",
                    "maxConcurrency": 50,
                    "retryPolicy": {
                        "intervalInSeconds": 30
                    },
                    "dependsOn": [
                        {
                            "type": "TumblingWindowTriggerDependencyReference",
                            "referenceTrigger": {
                                "referenceName": "HourlyLogsTrigger",
                                "type": "TriggerReference"
                            }
                        },
                        {
                            "type": "SelfDependencyTumblingWindowTriggerReference",
                            "offset": "-01:00:00"
                        }
                    ]
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/HourlyDataProcessPipeline')]",
                "[concat(variables('factoryId'), '/triggers/HourlyLogsTrigger')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/linkedService_StorageDemoMani')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobStorage",
                "typeProperties": {
                    "connectionString": "[parameters('linkedService_StorageDemoMani_connectionString')]"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/SqlServerOnPrem')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "SqlServer",
                "typeProperties": {
                    "connectionString": "[parameters('SqlServerOnPrem_connectionString')]",
                    "userName": "[parameters('SqlServerOnPrem_properties_typeProperties_userName')]",
                    "password": {
                        "type": "SecureString",
                        "value": "[parameters('SqlServerOnPrem_password')]"
                    }
                },
                "connectVia": {
                    "referenceName": "IR-selfhost",
                    "type": "IntegrationRuntimeReference"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/integrationRuntimes/IR-selfhost')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/AzureBlobStorage')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobStorage",
                "typeProperties": {
                    "connectionString": "[parameters('AzureBlobStorage_connectionString')]"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/linkedService_sp')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AmazonRdsForSqlServer",
                "typeProperties": {
                    "connectionString": "[parameters('linkedService_sp_connectionString')]",
                    "userName": "[parameters('linkedService_sp_properties_typeProperties_userName')]",
                    "password": {
                        "type": "SecureString",
                        "value": "[parameters('linkedService_sp_password')]"
                    }
                },
                "connectVia": {
                    "referenceName": "IR-selfhost",
                    "type": "IntegrationRuntimeReference"
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/integrationRuntimes/IR-selfhost')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/pipeline1')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Copy data1",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "BinarySource",
                                "storeSettings": {
                                    "type": "AzureBlobStorageReadSettings",
                                    "recursive": true
                                },
                                "formatSettings": {
                                    "type": "BinaryReadSettings"
                                }
                            },
                            "sink": {
                                "type": "BinarySink",
                                "storeSettings": {
                                    "type": "AzureBlobStorageWriteSettings"
                                }
                            },
                            "enableStaging": false
                        },
                        "inputs": [
                            {
                                "referenceName": "inputDataDataSet",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "outputDataDataSet",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {},
                    "cancelAfter": {}
                },
                "parameters": {
                    "SourcePath": {
                        "type": "string"
                    },
                    "SourceFile": {
                        "type": "string"
                    }
                },
                "annotations": [],
                "lastPublishTime": "2023-07-29T15:08:34Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/inputDataDataSet')]",
                "[concat(variables('factoryId'), '/datasets/outputDataDataSet')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/HourlyDataProcessPipeline')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Copy data1",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "BinarySource",
                                "storeSettings": {
                                    "type": "AzureBlobStorageReadSettings",
                                    "recursive": true
                                },
                                "formatSettings": {
                                    "type": "BinaryReadSettings"
                                }
                            },
                            "sink": {
                                "type": "BinarySink",
                                "storeSettings": {
                                    "type": "AzureBlobStorageWriteSettings"
                                }
                            },
                            "enableStaging": false
                        },
                        "inputs": [
                            {
                                "referenceName": "inputDataDataSet",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "outputDataDataSet",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {},
                    "cancelAfter": {}
                },
                "annotations": [],
                "lastPublishTime": "2023-07-29T15:08:33Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/inputDataDataSet')]",
                "[concat(variables('factoryId'), '/datasets/outputDataDataSet')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/HourlyLogsPipeline')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Copy data1",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "BinarySource",
                                "storeSettings": {
                                    "type": "AzureBlobStorageReadSettings",
                                    "recursive": true
                                },
                                "formatSettings": {
                                    "type": "BinaryReadSettings"
                                }
                            },
                            "sink": {
                                "type": "BinarySink",
                                "storeSettings": {
                                    "type": "AzureBlobStorageWriteSettings"
                                }
                            },
                            "enableStaging": false
                        },
                        "inputs": [
                            {
                                "referenceName": "inputDataDataSet",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "outputDataDataSet",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {},
                    "cancelAfter": {}
                },
                "annotations": [],
                "lastPublishTime": "2023-07-29T15:08:34Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/inputDataDataSet')]",
                "[concat(variables('factoryId'), '/datasets/outputDataDataSet')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/pipeline2')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Stored procedure1",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[dbo].[spGetEmployeesByGenderAndDepartment]",
                            "storedProcedureParameters": {
                                "DepartmentId": {
                                    "value": {
                                        "value": "@pipeline().parameters.pDepartmentId",
                                        "type": "Expression"
                                    },
                                    "type": "Int32"
                                },
                                "Gender": {
                                    "value": {
                                        "value": "@pipeline().parameters.pGender",
                                        "type": "Expression"
                                    },
                                    "type": "String"
                                }
                            }
                        },
                        "linkedServiceName": {
                            "referenceName": "linkedService_sp",
                            "type": "LinkedServiceReference"
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {},
                    "cancelAfter": {}
                },
                "parameters": {
                    "pGender": {
                        "type": "string",
                        "defaultValue": "Male"
                    },
                    "pDepartmentId": {
                        "type": "string",
                        "defaultValue": "1"
                    }
                },
                "annotations": [],
                "lastPublishTime": "2023-07-29T15:08:40Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/linkedService_sp')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/Copy data from OnPrem to Blob')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Copy data from OnPrem to Blob",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "SqlServerSource",
                                "queryTimeout": "02:00:00",
                                "partitionOption": "None"
                            },
                            "sink": {
                                "type": "DelimitedTextSink",
                                "storeSettings": {
                                    "type": "AzureBlobStorageWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextWriteSettings",
                                    "quoteAllText": true,
                                    "fileExtension": ".txt"
                                }
                            },
                            "enableStaging": false,
                            "translator": {
                                "type": "TabularTranslator",
                                "typeConversion": true,
                                "typeConversionSettings": {
                                    "allowDataTruncation": true,
                                    "treatBooleanAsNumber": false
                                }
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "SqlServerTable1",
                                "type": "DatasetReference",
                                "parameters": {
                                    "TableName": "emp",
                                    "Schema": "dbo",
                                    "db": "SoftwizSQLDatabase"
                                }
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "emp",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ]
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {},
                    "cancelAfter": {}
                },
                "annotations": [],
                "lastPublishTime": "2023-07-29T15:08:41Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/SqlServerTable1')]",
                "[concat(variables('factoryId'), '/datasets/emp')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/Copy from blob to on prem')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Copy from blob to on prem",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "DelimitedTextSource",
                                "storeSettings": {
                                    "type": "AzureBlobStorageReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextReadSettings"
                                }
                            },
                            "sink": {
                                "type": "SqlServerSink",
                                "writeBehavior": "insert",
                                "sqlWriterUseTableLock": false,
                                "tableOption": "autoCreate"
                            },
                            "enableStaging": false,
                            "translator": {
                                "type": "TabularTranslator",
                                "typeConversion": true,
                                "typeConversionSettings": {
                                    "allowDataTruncation": true,
                                    "treatBooleanAsNumber": false
                                }
                            }
                        },
                        "inputs": [
                            {
                                "referenceName": "emp",
                                "type": "DatasetReference",
                                "parameters": {}
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "SqlServerTable1",
                                "type": "DatasetReference",
                                "parameters": {
                                    "TableName": "player1",
                                    "Schema": "dbo",
                                    "db": "SoftwizSQLDatabase"
                                }
                            }
                        ]
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {},
                    "cancelAfter": {}
                },
                "annotations": [],
                "lastPublishTime": "2023-07-29T15:08:41Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/emp')]",
                "[concat(variables('factoryId'), '/datasets/SqlServerTable1')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/Copy from blob to on prem using lookup foreach and copy')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Lookup1",
                        "type": "Lookup",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "SqlServerSource",
                                "queryTimeout": "02:00:00",
                                "partitionOption": "None"
                            },
                            "dataset": {
                                "referenceName": "SqlServerTable1",
                                "type": "DatasetReference",
                                "parameters": {
                                    "TableName": "LookupRegister",
                                    "Schema": "dbo",
                                    "db": "TransportationDatabase"
                                }
                            },
                            "firstRowOnly": false
                        }
                    },
                    {
                        "name": "ForEach1",
                        "type": "ForEach",
                        "dependsOn": [
                            {
                                "activity": "Lookup1",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "items": {
                                "value": "@activity('Lookup1').output.value",
                                "type": "Expression"
                            },
                            "isSequential": true,
                            "activities": [
                                {
                                    "name": "Copy data 1",
                                    "type": "Copy",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "0.12:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "source": {
                                            "type": "DelimitedTextSource",
                                            "storeSettings": {
                                                "type": "AzureBlobStorageReadSettings",
                                                "recursive": true,
                                                "enablePartitionDiscovery": false
                                            },
                                            "formatSettings": {
                                                "type": "DelimitedTextReadSettings"
                                            }
                                        },
                                        "sink": {
                                            "type": "SqlServerSink",
                                            "writeBehavior": "insert",
                                            "sqlWriterUseTableLock": false,
                                            "tableOption": "autoCreate"
                                        },
                                        "enableStaging": false,
                                        "translator": {
                                            "type": "TabularTranslator",
                                            "typeConversion": true,
                                            "typeConversionSettings": {
                                                "allowDataTruncation": true,
                                                "treatBooleanAsNumber": false
                                            }
                                        }
                                    },
                                    "inputs": [
                                        {
                                            "referenceName": "DelimitedText1",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "FileName": {
                                                    "value": "@concat(item().TableName,'.csv')",
                                                    "type": "Expression"
                                                }
                                            }
                                        }
                                    ],
                                    "outputs": [
                                        {
                                            "referenceName": "SqlServerTable1",
                                            "type": "DatasetReference",
                                            "parameters": {
                                                "TableName": {
                                                    "value": "@item().TableName",
                                                    "type": "Expression"
                                                },
                                                "Schema": "stg",
                                                "db": "TransportationDatabase"
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {},
                    "cancelAfter": {}
                },
                "annotations": [],
                "lastPublishTime": "2023-07-29T15:08:41Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/SqlServerTable1')]",
                "[concat(variables('factoryId'), '/datasets/DelimitedText1')]"
            ]
        }
    ]
}